<nav class="navbar navbar-expand-md  header">    
  <a class="navbar-brand" routerLink="">
    <span class="h2 font-italic text-white" style="font-family: New Century Schoolbook, TeX Gyre Schola, serif">MapFood</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <div class="form-inline my-2 my-lg-0 ml-auto" style="position: relative;">
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Pesquise por ofertas" 
          aria-label="Campo para pesquisar ofertas">          
        <div class="input-group-append">
          <button class="btn btn-outline-dark" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>  
      </div>       
    </div>
  </div>    
</nav>